

.App {
  text-align: center;

}
.navbar{
  margin-bottom: 10px;
}


.link{
  color: whitesmoke;
}
.link:hover{
  color: whitesmoke;
  text-decoration: none
}
.login-form{
  margin: 10vw;
}
.login-input{
  margin-bottom: 10px;
}
.teable-head{
  background-color: rgba(97, 97, 97, 0.562);
}

.formCont{
  padding-bottom: 3px;
}
.logout-link:hover{
  cursor: pointer;
}

.table-head{
  background-color: rgba(128, 128, 128, 0.555);
}
.tahead{
  padding: 0;
}
.card-show{
  margin-bottom: 20px;
}
.username{
  padding-right: 20px;
}
